
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBrokerLabel">Create or edit a Broker</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="broker.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="broker.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="broker.comment"
                     />
        </div>

        <div class="form-group">
            <label for="field_brokerStatus">brokerStatus</label>
            <select class="form-control" id="field_brokerStatus" name="brokerStatus" ng-model="broker.brokerStatus" ng-options="brokerStatus as brokerStatus.status for brokerStatus in brokerstatuss track by brokerStatus.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_messageVersion">messageVersion</label>
            <select class="form-control" id="field_messageVersion" name="messageVersion" ng-model="broker.messageVersion" ng-options="messageVersion as messageVersion.version for messageVersion in messageversions track by messageVersion.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
